@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    color: #1a1f36;
    box-sizing: border-box;
    word-wrap: break-word;
    font-family: 'Raleway', sans-serif;
  }

  body {
      min-height: 100%;
      background-color: #ffffff;
      font-family: 'Raleway', sans-serif;
      margin: 0;
	    padding: 0;
	    box-sizing: border-box;
  }

  h1 {
      letter-spacing: -1px;
      margin-bottom: 20px;
  }

  a {
    color: #ba931c;
    text-decoration: unset;
    text-decoration: none;
  }

  label{
    color:#3d3d3a;
  }
  
 

  ul {
    list-style-type: none;
  }

  li {
    font-size: 1rem;
  }


  strong {
    font-size: 1rem;
  }

  .logo_baloon{
    width: 10rem;
  }

  .addit-identifier-title{
    font-weight: 600;
    font-size: 1.3rem;
    color: #3d3d3a;
  }


.country-name {
  font-size: 1rem;
}

.addit-pays {
  font-weight: 600;
  font-size: 0.9rem;
}


.inscrire{
  background-color: #33687f;
  color: white;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-weight: 500;
}

.inscrire:hover{
  background-color: #ba931c;
}


  /* START RADIO BUTTONS PHONE OR EMAIL */


.radio-section {
	display: flex;
	align-items: center;
	justify-content: center;
}

.radio-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.radio-item [type="radio"] {
	display: none;
  
}
.radio-item + .radio-item {
	margin-top: 15px;
}
.radio-item label {
	display: block;
	padding: 10px 60px;
  width: 10rem;
  background: #ba931c;
	border: 2px solid rgba(255, 255, 255, 0.1);
	border-radius: 8px;
	cursor: pointer;
	font-size: 1rem;
	font-weight: 600;
  color: white;
	white-space: nowrap;
	position: relative;
	transition: 0.4s ease-in-out 0s;
}

.radio-item label:after,
.radio-item label:before {
	content: "";
	position: absolute;
	border-radius: 50%;
}
.radio-item label:after {
	height: 19px;
	width: 19px;
	border: 2px solid #e0bc00;
	left: 19px;
	top: calc(50% - 12px);
}
.radio-item label:before {
	background: #e0bc00;
	height: 20px;
	width: 20px;
	left: 21px;
	top: calc(50%-5px);
	transform: scale(5);
	opacity: 0;
	visibility: hidden;
	transition: 0.4s ease-in-out 0s;
}
.radio-item label:hover{
  background-color: #264f60;
}
/* .radio-item [type="radio"]:checked ~ label {
	border-color: #e0bc00;
} */
.radio-item [type="radio"]:checked ~ label::before {
	opacity: 1;
	visibility: visible;
	transform: scale(1);
}

  /*--------------------------------END RADIO BUTTONS PHONE OR EMAIL-------------------------------
  ------------------------------------------------------------------------------------------------ */



  /* START FORMULAIRE */
  .login-root {
      background: #fff;
      display: flex;
      width: 100%;
      min-height: 100vh;
      overflow: hidden;
  }
  .loginbackground {
      min-height: 692px;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      z-index: 0;
      overflow: hidden;
  }
  .flex-flex {
      display: flex;
  }
  .align-center {
    align-items: center; 
  }
  .center-center {
    align-items: center;
    justify-content: center;
  }
  .box-root {
      box-sizing: border-box;
  }
  .flex-direction--column {
      -ms-flex-direction: column;
      flex-direction: column;
  }
  .box-divider--light-all-2 {
      box-shadow: inset 0 0 0 2px #e3e8ee;
  }
  
  .padding-top--64 {
    padding-top: 64px;
  }
  .padding-top--24 {
    padding-top: 24px;
  }
  .padding-top--48 {
    padding-top: 48px;
  }
  .padding-bottom--24 {
    padding-bottom: 24px;
  }
  .padding-horizontal--48 {
    padding: 24px 48px;
  }
  .padding-bottom--15 {
    padding-bottom: 15px;
  }
  
  
  .flex-justifyContent--center {
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .formbg {
      margin: 0px auto;
      width: 100%;
      max-width: 448px;
      background: white;
      border-radius: 4px;
      box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
  }
  span {
      display: block;
      font-size: 20px;
      line-height: 28px;
      color: #1a1f36;
  }
  label {
      margin-bottom: 10px;
  }
  .reset-pass a,label {
      font-size: 14px;
      font-weight: 600;
      display: block;
  }
  .reset-pass > a {
      text-align: right;
      margin-bottom: 10px;
  }

  .grid--60-40 {
      display: grid;
      grid-template-columns: 60% 40%;
  }

  .grid--50-50 {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}
  
  .field input {
      font-size: 16px;
      line-height: 28px;
      padding: 8px 16px;
      width: 100%;
      min-height: 44px;
      border: unset;
      border-radius: 4px;
      outline-color: #33687f;
      background-color: rgb(255, 255, 255);
      box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  }
  
  input[type="submit"] {
      background-color:  #ba931c;
      border: none;
      box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, 
                  #ba931c 0px 0px 0px 1px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;
      color: #fff;
      font-weight: 600;
      cursor: pointer;
  }


  .input_button:hover{
    background-color: #33687f;
    border: none;
    box-shadow: none;
  }

  .forgot:hover {
    color: #33687f;
  }
  .field-checkbox input {
      width: 20px;
      height: 15px;
      margin-right: 5px; 
      box-shadow: unset;
      min-height: unset;
  }
  .field-checkbox label {
      display: flex;
      align-items: center;
      margin: 0;
  }
  a.ssolink {
      display: block;
      text-align: center;
      font-weight: 600;
  }
  .footer-link span {
      font-size: 14px;
      text-align: center;
  }
  .listing a {
      color: #697386;
      font-weight: 600;
      margin: 0 10px;
  }
  
  .animationRightLeft {
    animation: animationRightLeft 2s ease-in-out infinite;
  }
  .animationLeftRight {
    animation: animationLeftRight 2s ease-in-out infinite;
  }
  .tans3s {
    animation: animationLeftRight 3s ease-in-out infinite;
  }
  .tans4s {
    animation: animationLeftRight 4s ease-in-out infinite;
  }
  
  @keyframes animationLeftRight {
    0% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(1000px);
    }
    100% {
      transform: translateX(0px);
    }
  } 
  
  @keyframes animationRightLeft {
    0% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(-1000px);
    }
    100% {
      transform: translateX(0px);
    }
  } 

  /*--------------------- END FORMULAIRE------------------------------
  ------------------------------------------------------------------- */


  /* START PHONE INPUT */

  :root {
    --primary: #111;
    --secondary: #fd0;
}	


body {    
    font-family: 'Raleway', sans-serif;
    background-color: var(--secondary);
}


.select-box {
    position: relative;
}



input[type="tel"] {
    font-size: 16px;
      line-height: 28px;
      padding: 8px 16px;
      width: 100%;
      min-height: 44px;
      border: unset;
      border-radius: 4px;
      outline-color: #33687f;
      background-color: rgb(255, 255, 255);
      box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

.select-box input:focus {
    border: .1rem solid var(--primary);
}

.selected-option {
    border: solid 1px gainsboro;
    border-radius: .4rem;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selected-option div{
    position: relative;
    width: 6rem;
    padding: 0 2.8rem 0 .5rem;
    text-align: center;
    cursor: pointer;
}

.selected-option div::after{
    position: absolute;
    content: "";
    right: .8rem;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    
    width: .8rem;
    height: .8rem;
    border-right: .12rem solid var(--primary);
    border-bottom: .12rem solid var(--primary);

    transition: .2s;
}

.selected-option div.active::after{
    transform: translateY(-50%) rotate(225deg);
}

.select-box .options {
    position: absolute;
    top: 4rem;
    
    width: 100%;
    background-color: #fff;
    border-radius: .5rem;

    display: none;
}

.select-box .options.active {
    display: block;
}

.select-box .options::before {
    position: absolute;
    content: "";
    left: 1rem;
    top: -1.2rem;

    width: 0;
    height: 0;
    border: .6rem solid transparent;
    border-bottom-color: var(--primary);
}

input.search-box {
    background-color: var(--primary);
    color: #fff;
    border-radius: .5rem .5rem 0 0;
    padding: 1.4rem 1rem;
}

.select-box ol {
    list-style: none;
    max-height: 23rem;
    overflow: overlay;
}

.select-box ol::-webkit-scrollbar {
    width: 0.6rem;
}

.select-box ol::-webkit-scrollbar-thumb {
    width: 0.4rem;
    height: 3rem;
    background-color: #ccc;
    border-radius: .4rem;
}

.select-box ol li {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.select-box ol li.hide {
    display: none;
}

.select-box ol li:not(:last-child) {
    border-bottom: .1rem solid #eee;
}

.select-box ol li:hover {
    background-color: rgba(186, 147, 28, 0.3);
}

.select-box ol li .country-name {
    margin-left: 2.5rem;
    margin-top: -1.6rem;
}
/*------------------------- END PHONE INPUT-------------------------------------------
------------------------------------------------------------------------------------- */


