@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --addit-yellow: #ba931c;
    --addit-lt-gray: #cccccc;
    --addit-dk-gray: #767676;
}


  .addit-container-box{
    margin: 1.5rem;
    display: flex;
    justify-content: flex-start;
  }

  .addit-date-title{
    color: #3d3d3a;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 0.6rem;

  }

  .addit-date{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .addit-date-field{
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color:#3d3d3a;
    max-width: 14.5rem;
    padding: 10px;
    min-height: 44px;
    border: 1px solid var(--addit-lt-gray);
    border-radius: 4px;
    outline-color: #33687f;
    background-color: rgb(255, 255, 255);
  }

  .addit-icon-size{
    width: 2rem;
  }

  [type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
  }

  [type="date"]::-webkit-inner-spin-button {
    display: none;
  }

  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
  
  


 