@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


  .logo_baloon{
    width: 10rem;
  }
  
  .addit-login-root {
      background: #fff;
      padding: 0;
      margin: 0;
      display: flex;
      width: 100%;
      min-height: 100vh;
      overflow: hidden;
      font-family: 'Raleway', sans-serif;
      color: #1a1f36;
      margin:0;
	
	
	/* justify-content:center;
	align-items:center; */

  }

  .addit-buttons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
  }
  
  .addit-button-primary{
    background-color:#ba931c;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: white;
  }

    .addit-button-primary:hover{
        background-color:#e0bc00;
        cursor: pointer;
    }

  .addit-button-secondary{
    background-color:#1c3f4f;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: white;
  }

  .addit-button-secondary:hover{
    background-color: #33687f;
    cursor: pointer;
  }

  .addit-flex-flex {
      display: flex;
  }

  .addit-style{
    min-height: 100vh;
    flex-grow: 1;
    z-index: 9;
  }

  .align-center {
    align-items: center; 
  }
  .center-center {
    align-items: center;
    justify-content: center;
  }
  .addit-box-root {
      box-sizing: border-box;
  }
  .addit-flex-direction--column {
      -ms-flex-direction: column;
      flex-direction: column;
  }
  
  .addit-padding-top--24 {
    padding-top: 24px;
  }
  .addit-padding-top--48 {
    padding-top: 48px;
  }
  .addit-padding-bottom--24 {
    padding-bottom: 24px;
  }
  .addit-padding-horizontal--48 {
    padding: 48px;
  }
  .addit-padding-bottom--15 {
    padding-bottom: 15px;
  }
  
  .addit-flex-justifyContent--center {
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .addit-formbg {
      margin: 0px auto;
      width: 90%;
      max-width: 448px;
      background: white;
      border-radius: 4px;
      box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
  }
  .addit-span {
      display: block;
      font-size: 20px;
      line-height: 28px;
      color: #1a1f36;
  }
  .addit-label {
      margin-bottom: 10px;
      font-weight: 600;
      color:#3d3d3a ;
  }

  .addit-label-error{
    margin-top: 5px;
    font-weight: 600;
    font-size: 1rem;
    color:#c1262d ;

  }

  .addit-warning-icon{
    width: 25px;
    margin-right: 0.8rem;
  }

  .addit-identifier{
    font-size: 1.5rem;
    font-weight: 600;
    color:#3d3d3a ;
  }
  
  .addit-grid--50-50 {
      display: grid;
      grid-template-columns: 50% 50%;
      align-items: center;
  }

  .addit-grid--30-70 {
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
}


  .addit-grid--60-40 {
    display: grid;
    grid-template-columns: 60% 40%;
}
  
  .addit-field input {
      box-sizing: border-box;
      font-size: 16px;
      color:#3d3d3a ;
      line-height: 28px;
      padding: 8px 16px;
      width: 100%;
      min-height: 44px;
      border: none;
      border-radius: 4px;
      outline-color: #33687f;
      background-color: rgb(255, 255, 255);
      box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  }
  
  .addit-input[type="submit"] {
      background-color:  #ba931c;
      border: none;
      box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, 
                  #ba931c 0px 0px 0px 1px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;
      color: #fff;
      font-weight: 600;
      cursor: pointer;
  }

  .addit-input_button:hover{
    background-color: #33687f;
    box-shadow: none;
    border: none;
  }


  .addit-field-index {
    box-sizing: border-box;
    font-size: 16px;
    color:#3d3d3a ;
    line-height: 28px;
    padding: 8px 16px;
    width: 20%;
    min-height: 44px;
    border: none;
    border-radius: 4px;
    outline-color: #33687f;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

  .addit-reset-pass a,label {
    font-size: 14px;
    font-weight: 600;
    color:#ba931c;
    text-decoration: none;
    display: block;
}

.addit-reset-pass > a {
    text-align: right;
    margin-bottom: 10px;
    color:#ba931c;
}

.addit-reset-pass:hover > a {
  text-align: right;
  margin-bottom: 10px;
  color : #33687f;
}

.addit-inscrire{
  background-color: #33687f;
  color: white;
  border-radius: 0.5rem;
  padding: 0.2rem 2rem;
  font-weight: 500;
  text-decoration: none;
}

.addit-inscrire:hover{
  background-color: #ba931c;
}



/*---------------------- CAPTCHA---------------
----------------------------------------------- */


/* html,body {height:100%;}
body {
	margin:0;
	background-image:url(https://www.google.com/recaptcha/intro/images/hero-street-bg.jpg);
	background-size:cover;
	background-position:center;
	display:flex;
	justify-content:center;
	align-items:center;
	font-family: 'Roboto', sans-serif;
} */
.captcha {
	background-color:#f9f9f9;
	border:1px solid #d3d3d3;
	border-radius:5px;
	color:#4c4a4b;
	display:flex;
	justify-content:center;
	align-items:center;
  max-height: 10rem;

}

@media screen and (max-width: 500px) {
	.captcha {
		flex-direction:column;
	}
	.text {
		/* margin:.5rem!important; */
		text-align:center;
    font-size: 1rem !important;
    margin: 0 !important;
	}
	.logo {
		align-self: center!important;
	}
	.spinner {
		margin:2em .5em .5em .5em!important;
	}
}

.text {
	font-size:1rem;
	font-weight:600;
	margin-right:1em;
}
.spinner {
	position:relative;
	width:2em;
	height:2em;
	display:flex;
	margin:2em 1em;
	align-items:center;
	justify-content:center;
}
input[type="checkbox"] { position: absolute; opacity: 0; z-index: -1; }
input[type="checkbox"]+.checkmark {
	display:inline-block;
	width:1.3rem;
	height:1.3rem;
	background-color:#fcfcfc;
	border:2.5px solid #c3c3c3;
	border-radius:3px;
	display:flex;
	justify-content:center;
	align-items:center;
	cursor: pointer;
}
input[type="checkbox"]+.checkmark span {
	content:'';
	position:relative;/*
	position:absolute;
	border-bottom:3px solid;
	border-right:3px solid;
	border-color:#029f56;*/
	margin-top:-3px;
	transform:rotate(45deg);
	width:.75em;
	height:1.2em;
	opacity:0;
}
input[type="checkbox"]+.checkmark>span:after {
	content:'';
	position:absolute;
	display:block;
	height:3px;
	bottom:0;left:0;
	background-color:#029f56;
}
input[type="checkbox"]+.checkmark>span:before {
	content:'';
	position:absolute;
	display:block;
	width:3px;
	bottom:0;right:0;
	background-color:#029f56;
}
input[type="checkbox"]:checked+.checkmark { 
	animation:2s spin forwards;
}
input[type="checkbox"]:checked+.checkmark>span { 
	animation:1s fadein 1.9s forwards;
}
input[type="checkbox"]:checked+.checkmark>span:after {animation:.3s bottomslide 2s forwards;}
input[type="checkbox"]:checked+.checkmark>span:before {animation:.5s rightslide 2.2s forwards;}
@keyframes fadein {
	0% {opacity:0;}
	100% {opacity:1;}
}
@keyframes bottomslide {
	0% {width:0;}
	100% {width:100%;}
}
@keyframes rightslide {
	0% {height:0;}
	100% {height:100%;}
}
.logo {
	display:flex;
	flex-direction:column;
	align-items:center;
	height:100%;
	align-self:flex-end;
	margin:0.5em 1em;
  width: 7rem;
}
.logo img {
	height:1.5rem;
	width:1.5rem;
}
.logo p {
	color:#9d9ba7;
	margin:0;
	font-size:0.8rem;
	font-weight:700;
	margin:.4em 0 .2em 0;
}
.logo small {
	color:#9d9ba7;
	margin:0;
	font-size:.8em;
}
@keyframes spin {
	10% {
		width:0;
		height:0;
		border-width:6px;
	}
	30% {
		width:0;
		height:0;
		border-radius:50%;
		border-width:1em;
		transform: rotate(0deg);
		border-color:rgb(199,218,245);
	}
	50% {
		width:2em;
		height:2em;
		border-radius:50%;
		border-width:4px;
		border-color:rgb(199,218,245);
		border-right-color:rgb(89,152,239);
	}
	70% {
		border-width:4px;
		border-color:rgb(199,218,245);
		border-right-color:rgb(89,152,239);
	}
	90% {
		border-width:4px;
	}
	100% {
		width:2em;
		height:2em;
		border-radius:50%;
		transform: rotate(720deg);
		border-color:transparent;
	}
}
::selection {
	background-color:transparent;
	color:teal;
}
::-moz-selection {
	background-color:transparent;
	color:teal;
}