@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --addit-yellow: #ba931c;
    --addit-lt-gray: #cccccc;
    --addit-dk-gray: #767676;
}

.addit-container-box{
  margin: 1.5rem;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.addit-selection{
    display: flex;
    flex-direction: column;
    max-height: 300px;
    overflow-y: auto;
}

.addit-summary {
  box-sizing: border-box;
  border: 1px solid var(--addit-lt-gray);
  border-collapse: collapse;
  border-radius: 6px;
  padding: 10px 20px;
  max-width: 30rem;
  min-height: 44px;
  background-color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  color: #3d3d3a ;
  cursor: pointer;
}

.addit-details {
  box-sizing: border-box;
  display: inline-block;
  max-width: 30rem;
  background-color: white;
  cursor: pointer;
}

.addit-details[open] > summary::marker {
    color: var(--addit-yellow);
}

.addit-summary:focus,
.addit-summary:active {
    box-shadow: 0 0 5px 1px var(--addit-yellow);
}

.addit-ul { 
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin-top: 2px;
    border: 1px solid var(--addit-yellow);
    box-shadow: 0 0 5px 1px var(--addit-lt-gray);
}
.addit-li {
    margin: 0px;
    padding: 0px;
}
.addit-li > label {
    cursor: pointer;
    display: inline-block;
    width: 100%;
}

.addit-li > label:hover,
.addit-li > label:has(input:checked) {
    background-color: var(--addit-yellow);
    color: white;
}



  /*------------------CHECKBOX CUSTOMIZATION-------------------
  ------------------------------------------------------------*/

/* Customize the label (the container) */
.addit-container {
  box-sizing: border-box;
    display: block;
    position: relative;
    padding-left: 2.3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: 'Raleway', sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .addit-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .addit-checkmark {
    position: absolute;
    top: 0;
    left: 0.4rem;
    height: 1.2rem;
    width: 1.2rem;
    border:#3d3d3a solid 0.1rem;
    border-radius: 0.2rem;
    margin-left: 0.3rem;
  }
  
  /* On mouse-over, add a grey background color */
  .addit-container:hover input ~ .addit-checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .addit-container input:checked ~ .addit-checkmark {
    background-color: #33687f;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .addit-checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .addit-container input:checked ~ .addit-checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .addit-container .addit-checkmark:after {
    left: 0.3rem;
    top: 0.1rem;
    width: 0.3rem;
    height: 0.6rem;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }