@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family: 'Raleway', sans-serif;
}

body {
    font-family: Arial, sans-serif;
      background: #ddd;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

  }
  
  h1 {
      text-align: center;
      font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
      color: #333;
      text-shadow: 0 1px 0 #fff;
      margin: 50px 0;
  }

  .logoTitle {
    width: 150px;
  }


  .addit-buttons{
    display: flex;
    justify-content: space-evenly;
  }

  .addit-button-primary{
    background-color:#ba931c;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-family: 'Raleway';
    font-size: 1rem;
    font-weight: 500;
    color: white;
  }

    .addit-button-primary:hover{
        background-color:#e0bc00 ;
    }

  .addit-button-secondary{
    background-color:#1c3f4f;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-family: 'Raleway';
    font-size: 1rem;
    font-weight: 500;
    color: white;
  }

  .addit-button-secondary:hover{
    background-color: #33687f;
  }

  .logoPop {
    width: 150px;
  }

  .addit-logo{
    display: flex;
    justify-content: center;
  }

  .addit-logo-baloon{
    width: 7rem;
    margin-bottom: 1rem;
  }

  .addit-icons{
    width: 2rem;
    margin-right: 1rem;
  }

  .addit-warning-message{
    font-weight: 600;
  }

 
 .addit-modal-content{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
 }

  #wrapper {
      width: 100px;
      margin: 0 auto;
      background: #fff;
      padding: 20px;
      border-radius: 15px;
      background-clip: padding-box;
      text-align: center;
  }
  
  .button {
      font-size: 13px;
      padding: 5px 10px;
      border: 1px solid #aaa;
      background-color: #eee;
      background-image: linear-gradient(top, #fff, #f0f0f0);
      border-radius: 2px;
      box-shadow: 0 1px 3px rgba(0,0,0,0.15);
      color: #666;
      text-decoration: none;
      text-shadow: 0 1px 0 #fff;
      cursor: pointer;
      transition: all 0.2s ease-out;
    &:hover {
      border-color: #999;
      box-shadow: 0 1px 3px rgba(0,0,0,0.25);
    }
    &:active {
      box-shadow: 0 1px 3px rgba(0,0,0,0.25) inset;
    }
  }
  
  .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
      transition: opacity 200ms;
    visibility: hidden;
      opacity: 0;
      &.light {
      background: rgba(255,255,255,0.5);
    }
    .cancel {
      position: absolute;
      width: 100%;
      height: 100%;
      cursor: default;
    }
    &:target {
      visibility: visible;
      opacity: 1;
    }
  }
  
  .popup {
      margin: 75px auto;
      padding: 20px;
      background: #fff;
      border: 1px solid #666;
      border-radius: 1rem;
      width: 400px;
      box-shadow: 0 0 50px rgba(0,0,0,0.5);
      position: relative;
    .light & {
      border-color: #aaa;
      box-shadow: 0 2px 10px rgba(0,0,0,0.25);
      /* display: flex; */
    }
    h2 {
      margin-top: 0;
      color: #666;
    }
    .close {
      position: absolute;
      width: 20px;
      height: 20px;
      top: 20px;
      right: 20px;
      opacity: 0.8;
      transition: all 200ms;
      font-size: 35px;
      font-weight: bold;
      text-decoration: none;
      color: #264f60;
      &:hover {
        opacity: 1;
      }
    }
    .content {
      max-height: 400px;
      overflow: auto;
      display: flex;
      
    }
    p {
      margin: 0 0 1em;
      &:last-child {
        margin: 0;
      }
    }
  }